<div class="mat-typography">
    <h1>Nuevo Lugar</h1>
</div>

<form [formGroup]="lugarForm">

    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="40px">

        <!-- ============================== Columna izquierda ==================================== -->
        <div class="main-column" fxFlex="50" fxLayout="column" fxLayoutGap="20px">

            <div fxLayout="row" fxLayoutGap="40px">

                <mat-form-field fxFlex="50%">
                    <mat-label>Nombre del Lugar</mat-label>
                    <input matInput type="text" formControlName="nombre">
                    <!-- La expresion "nombre" representa "lugarForm.get('nombre')" pero gracias al geter solo escribimos nombre -->
                    <ng-container *ngIf="!nombre.valid && nombre.touched">
                        <mat-error *ngIf="nombre.errors.required">El campo nombre es obligatorio.</mat-error>
                        <mat-error *ngIf="nombre.errors.minlength">El nombre de tener un mínimo de 2 caracteres.
                        </mat-error>
                    </ng-container>
                </mat-form-field>

                <div fxFlex="50%">
                    Debes activar este lugar para que sea visible en la app: &nbsp; &nbsp;
                    <mat-slide-toggle formControlName="publicado">Publicado </mat-slide-toggle>
                </div>

            </div>

            <div fxLayout="row">
                <mat-form-field id="camp-principal" fxFlex="50%">
                    <mat-label>Selecciona el Departamento</mat-label>
                    <mat-select formControlName="departamento" (selectionChange)="getLocalidadesPorDepartamento()">
                        <mat-option *ngFor="let departamento of departamentos" [value]="departamento">{{ departamento }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field id="camp-principal2" fxFlex="50%">
                    <mat-label>Selecciona la Localidad</mat-label>
                    <mat-select formControlName="localidad" (selectionChange)="setImagenPrincipal()">
                        <mat-option *ngFor="let localidad of localidades" [value]="localidad">{{ localidad.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>

            <div fxLayout="row" fxLayoutGap="40px">
                <div fxFlex="15%">
                    <mat-label>Se puede llegar en: </mat-label>
                </div>
                <div fxFlex="15%">
                    <mat-checkbox formControlName="auto">Auto</mat-checkbox>
                </div>
                <div fxFlex="15%">
                    <mat-checkbox formControlName="bicicleta">Bicicleta</mat-checkbox>
                </div>
                <div fxFlex="15%">
                    <mat-checkbox formControlName="caminar">Caminando</mat-checkbox>
                </div>
                <mat-form-field fxFlex="40">
                    <mat-label>Tipo: </mat-label>
                    <mat-select formControlName="tipo">
                        <mat-option *ngFor="let item of lugaresTipo" [value]="item.tipo">{{ item.tipo }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>

            <div fxLayout="row">
                <!-- 
                <app-upload-files></app-upload-files>
                -->
                <mat-form-field class="area">
                    <mat-label>Descripción del lugar</mat-label>
                    <textarea class="descripcion" formControlName="descripcion" matInput
                        placeholder="Escribe una descripción ..." matAutosizeMinRows="30"></textarea>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <div fxLayout="column">
                    <h2>Ubicación del Lugar</h2>
                    <div>
                        <p>Abra el mapa y creé un marcador en la ubicación del lugar para obtener sus coordenadas</p>
                    </div>

                <div>
                    <button mat-raised-button color="primary" (click)="openDialog()">
                        <mat-icon>map</mat-icon>
                        Abrir Mapa
                    </button>
                </div>
                </div>
                <div fxLayout="column">
                    <app-mini-mapa></app-mini-mapa>
                </div>
            </div>
<!--
            <div fxLayout="column" formArrayName="telefonos">
                <div>
                    <button mat-raised-button color="primary" (click)="agregarNuevoTelefonoAlFormulario()">
                        <mat-icon>add</mat-icon>
                        Agregar teléfono
                    </button>
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="center center"
                    *ngFor="let telefono of telefonos.controls;let i=index" [formGroupName]="i">
                    <div fxFlex="20%"></div>
                    <div fxFlex="10%">
                        Teléfono {{i + 1}}:
                    </div>
                    <mat-form-field fxFlex="40%">
                        <input matInput type="text" formControlName="numero">
                        <mat-label>Teléfono: </mat-label>
                    </mat-form-field>
                    <div fxFlex></div>
                </div>
            </div>
        -->

            <!-- ============================== Telefonos ==================================== -->
            <div fxLayout="column" class="container">
                <div fxFlex="100%">
                    <h2 class="subtitulo">Teléfonos</h2>
                </div>
                <div fxLayout="row" formArrayName="telefonos">
                    <div style="width: 50%;">
                        <mat-form-field fxLayout="column" fxLayoutAlign="space-between none"
                            *ngFor="let telefono of telefonos.controls; let i=index" [formGroupName]="i"
                            style="width: 300px;">
                            <input matInput type="tel" formControlName="numero" placeholder="43401234 o 099123456">
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-label>Inserte el teléfono {{ i + 1}}</mat-label>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" style=" width: 50%; ">
                        <button mat-raised-button color="primary" (click)="agregarNuevoTelefonoAlFormulario()">
                            <mat-icon>add</mat-icon>
                            Agregar otro teléfono
                        </button>
                    </div>
                </div>
            </div>
            <!-- ============================== Videos ==================================== -->
            <div fxLayout="column" class="container">
                <div fxFlex="100%">
                    <h2 class="subtitulo">Videos en Youtube</h2>
                </div>
                <div fxLayout="row" formArrayName="videos">
                    <div style="width: 50%;">
                        <mat-form-field fxLayout="column" fxLayoutAlign="space-between none"
                            *ngFor="let video of videos.controls;let j=index" [formGroupName]="j" style="width: 400px;">
                            <input matInput type="url" formControlName="url" placeholder="https://www.youtube">
                            <mat-icon matSuffix>add_link</mat-icon>
                            <mat-label>Inserte la url del video </mat-label>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" style=" width: 50%; ">
                        <button mat-raised-button color="primary" (click)="agregarNuevoVideoAlFormulario()">
                            <mat-icon>add</mat-icon>
                            Agregar otro video
                        </button>
                    </div>
                </div>
            </div>

            <!-- ============================== Sitio Web Y Redes Sociales ==================================== -->
            <div fxLayout="column" class="container">
                <div fxFlex="100%">
                    <h2 class="subtitulo">Sitio Web y Redes Sociales</h2>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <div fxLayout="column" fxFlex.gt-lg="50%">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Sitio Web</mat-label>
                            <input type="url" matInput formControlName="web" placeholder="http://www.fincapiedra.com/">
                            <mat-icon matSuffix>insert_link</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Whatsapp</mat-label>
                            <input type="url" matInput formControlName="whatsapp"
                                placeholder="http://www.fincapiedra.com/">
                            <mat-icon matSuffix>insert_link</mat-icon>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex.gt-lg="50%">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Facebook</mat-label>
                            <input type="url" matInput formControlName="facebook"
                                placeholder="http://www.fincapiedra.com/">
                            <mat-icon matSuffix>insert_link</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Instagram</mat-label>
                            <input type="url" matInput formControlName="instagram"
                                placeholder="http://www.fincapiedra.com/">
                            <mat-icon matSuffix>insert_link</mat-icon>
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </div>

        

        <!-- ============================== Columna derecha ==================================== -->
        <div class="main-column" fxFlex="50%" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10">

            <div fxFlex fxLayout="row wrapDirection" fxLayoutAlign="space-around start"
                class="container container-home">
                <div fxFlex="100%" class="home">
                    <h2 style="text-align: center;">Imágen Home</h2>
                </div>
                <div fxFlex="50%" class="home" fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-card class="container-img">
                        <img mat-card-image [src]="lugarForm.value.imagenHome.url" class="imagen-home">
                        <mat-card-actions *ngIf="imagenHome.value.name != 'imagen-default'">
                            <button mat-raised-button color="warn" (click)="setImagenHome('')">
                                <mat-icon>delete</mat-icon> Eliminar
                            </button>
                        </mat-card-actions>
                    </mat-card>
                    <p>Tamaño de imágen: 600 x 353 px</p>
                </div>
                <div fxFlex="50%" class="home">
                    <app-upload-files [tituloUploader]="tituloUploaderHome" [DirectorioUploader]="directorioHomeStorage"
                        (imagenSubidaUploader)="setImagenHome($event)">
                    </app-upload-files>
                </div>
            </div>

            <div fxFlex class="container" fxLayout="column" fxLayoutAling="space-around start">
                <div fxFlex fxLayout="row wrapDirection" fxLayoutAling='space-around center'>
                    <div fxFlex="100%">
                        <h2 style="text-align: center;">Galería de Imágenes e Imágen Principal</h2>
                    </div>
                    <div fxFlex="50%" class="container-img" fxLayout="column" fxLayoutAlign="space-around center">
                        <mat-card>
                            <img mat-card-image [src]="lugarForm.value.imagenPrincipal.url" class="imagen-principal"
                                alt="">
                            <mat-card-footer>
                                Tamaño de imágen: 600 x 450 px
                            </mat-card-footer>
                        </mat-card>
                    </div>

                    <div fxFlex="50%" fxLayout="column" fxFlexAlign="space-around center">
                        <!-- Módulo para subir archivos -->
                        <app-upload-files fxFlex="60%" [tituloUploader]="tituloUploaderGaleria"
                            [DirectorioUploader]="directorioLugaresStorage"
                            (imagenSubidaUploader)="agregarImagenSubida($event)">
                        </app-upload-files>
                        <h4 fxFlex="5%">Imágen Principal</h4>
                        <mat-form-field id="camp-principal" fxFlex="20%">
                            <mat-label>Selecciona una imágen de la galería para usar como imágen principal: </mat-label>
                            <mat-select formControlName="imagenPrincipal" (selectionChange)="setImagenPrincipal()">
                                <mat-option *ngFor="let imagen of galeria" [value]="imagen">{{ imagen.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div fxFlex="5%">
                    <h2>Galería de imágenes</h2>
                </div>
                <div class="contenedor_galeria" fxFlex fxLayout="row wrapDirection" fxLayoutAlign="space-around start"
                    fxLayoutGap="10px" *ngIf="galeria.length > 0">
                    <!-- Módulo para mostrar las imagenes de la galeria -->
                    <app-imagen *ngFor="let foto of galeria" [imagen]="foto"
                        (imagenABorrar)="eliminarImagenGaleria($event)">
                    </app-imagen>
                </div>
            </div>
            <!-- 
            <div fxFlex>
                <pre>{{ this.imagenes | json }}</pre>
            </div>
-->
            <div style="overflow: scroll; width: 100%;height: 200px;">
                <span>Valores</span>
                <pre>{{ this.lugarForm.value | json }}</pre>
            </div>
        </div>

    </div>

</form>