<div fxLayout='row' fxLayoutAlign="space-between center">

    <button mat-button type="button" color="primary" (click)="regresar()">
        <mat-icon>arrow_back_ios</mat-icon>
        Atras
    </button>
    <h1>{{titulo}}</h1>
    <div></div>
</div>
<pre>
    {{ this.lugarForm.valid }}
</pre>

<form [formGroup]="lugarForm" (ngSubmit)="submitLugar()" id="formLugar">

    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="40px">

        <!-- ============================== Columna izquierda ==================================== -->
        <div class="main-column" fxFlex="50" fxLayout="column stretch" fxLayoutGap="20px">

            <!-- ==============================  Nombre/Publicado ==================================== -->
            <div class="container" style="height: 124px;">
                <div>
                    <h2>Nombre */Estado de publicación</h2>
                </div>
                <div fxLayout="row" fxLayoutGap="30px">

                    <mat-form-field fxFlex="50%">
                        <mat-label>Nombre del Lugar</mat-label>
                        <input required matInput type="text" formControlName="nombre" (change)="quitarEspacios()">
                        <!-- La expresion "nombre" representa "lugarForm.get('nombre')" pero gracias al geter solo escribimos nombre -->
                        <ng-container *ngIf="!nombre.valid && nombre.touched">
                            <mat-error *ngIf="nombre.errors.required">El campo nombre es obligatorio.</mat-error>
                            <mat-error *ngIf="nombre.errors.minlength">El nombre de tener un mínimo de 2 caracteres.
                            </mat-error>
                        </ng-container>
                    </mat-form-field>

                    <div fxFlex="35%">
                        Activar para que sea visible en la app: &nbsp; &nbsp;
                        <mat-slide-toggle (change)="switchPublicar()" formControlName="publicado">Publicado
                        </mat-slide-toggle>
                    </div>

                    <mat-form-field fxFlex="15%">
                        <mat-label>Carperta Cloud Storage</mat-label>
                        <input matInput type="text" formControlName="carpeta" [readonly]="true">
                    </mat-form-field>
                </div>
                <!-- ============================== Fin  Nombre/Publicado ==================================== -->

                <!-- ==============================  Departamento y Localidad ==================================== -->
                <!-- ============================== Fin Departamento y Localidad ==================================== -->
                <div class="container" style="height: 124px;">
                    <div>
                        <h2>Departamento */Localidad *</h2>
                    </div>
                    <div fxLayout="row" fxLayoutGap="40px">
                        <mat-form-field id="camp-principal" fxFlex="50%">
                            <mat-label>Selecciona el Departamento</mat-label>
                            <mat-select formControlName="departamento" required
                                (selectionChange)="getLocalidadesPorDepartamento()">
                                <mat-option *ngFor="let departamento of departamentos" [value]="departamento">
                                    {{ departamento }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field id="camp-principal2" fxFlex="50%">
                            <mat-label>Selecciona la Localidad</mat-label>
                            <mat-select formControlName="localidad" required>
                                <mat-option *ngFor="let localidad of localidades" [value]="localidad">{{ localidad }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- ============================== Como llegar ==================================== -->
                <!-- ============================== Fin Como llegar ==================================== -->
                <div class="container" style="height: 124px;">
                    <div>
                        <h2>Como llegar</h2>
                    </div>
                    <div fxLayout="row" fxLayoutGap="40px">
                        <div fxFlex="25%">
                            <mat-label>Se puede llegar en: </mat-label>
                        </div>
                        <div fxFlex="15%">
                            <mat-checkbox formControlName="auto">Auto</mat-checkbox>
                        </div>
                        <div fxFlex="15%">
                            <mat-checkbox formControlName="bicicleta">Bicicleta</mat-checkbox>
                        </div>
                        <div fxFlex="15%">
                            <mat-checkbox formControlName="caminar">Caminando</mat-checkbox>
                        </div>
                    </div>
                </div>

                <!-- ============================== Tipo/Patrimonial ==================================== -->
                <!-- ============================== Fin Tipo/Patrimonial ==================================== -->
                <div class="container" style="height: 124px;">
                    <div>
                        <h2>Tipo/Patrimonial</h2>
                    </div>
                    <div fxLayout="row" fxLayoutGap="40px">
                        <mat-form-field fxFlex="33">
                            <span matPrefix>Tipo de Lugar: &nbsp; &nbsp;</span>
                            <mat-select formControlName="tipo">
                                <mat-option *ngFor="let item of lugaresTipo" [value]="item.tipo">
                                    {{ item.tipo }}
                                </mat-option>
                            </mat-select>
                            <mat-hint align="start">
                                Seleccione el tipo de lugar.
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex="33">
                            <span matPrefix>Patrimonial: &nbsp; &nbsp;</span>
                            <mat-select formControlName="patrimonial">
                                <mat-option *ngFor="let item of opsPatrimonial" [value]="item.valor">
                                    {{ item.texto }}
                                </mat-option>
                            </mat-select>
                            <mat-hint align="start">
                                Seleccione si es un lugar patrimonial.
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex="33">
                            <span matPrefix>Prioridad: &nbsp; &nbsp;</span>
                            <mat-select formControlName="prioridad">
                                <mat-option *ngFor="let item of prioridades" [value]="item">
                                    {{ item }}
                                </mat-option>
                            </mat-select>
                            <mat-hint align="start">
                                Seleccione el órden de prioridad en el que se mostrará en la lista de lugares.
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <!-- ============================== Descripción ==================================== -->
                <div>
                    <div>
                        <h2>Descripción</h2>
                    </div>
                    <div fxLayout="row">
                        <div class="area">
                            <angular-editor formControlName="descripcion" [config]="editorConfig">
                            </angular-editor>
                            <br>
                            <ng-container *ngIf="!descripcion.valid && descripcion.touched">
                                <mat-error *ngIf="descripcion.errors.maxlength">
                                    La descripción del lugar no puede superar los 4000 caracteres.
                                </mat-error>
                                <mat-error *ngIf="descripcion.errors.minlength">
                                    La descripción del lugar no puede ser menor a 50 carcacteres. caracteres.
                                </mat-error>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <!-- ============================== Fin Descripción ==================================== -->

            </div>
        </div>


        <!-- ============================== Columna derecha ==================================== -->
        <div class="main-column" fxFlex="50%" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10">

            <!-- ============================== Telefonos ==================================== -->
            <div fxLayout="column" class="container">
                <div fxFlex="100%">
                    <h2 class="subtitulo">Teléfonos</h2>
                </div>
                <div fxLayout="column" formArrayName="telefonos">
                    <div *ngFor="let telefono of telefonos.controls; let i=index" [formGroupName]="i"
                        style="width: 100%;" fxLayout="row" fxLayoutAling="space-between center" fxLayoutGap="20px">
                        <mat-form-field style="width: 30%;">
                            <input matInput type="tel" formControlName="numero" placeholder="43401234 o 099123456"
                                style="width: 100%;">
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-label>Inserte el teléfono {{ i + 1}}</mat-label>
                        </mat-form-field>
                        <div *ngIf="i > 0">
                            <button type="button" mat-stroked-button color="warn"
                                (click)="eliminarTelefonoDelFormulario(i)">
                                <mat-icon>delete</mat-icon>
                                Eliminar
                            </button>
                        </div>
                        <div *ngIf="i == 0">
                            <button type="button" mat-raised-button color="primary"
                                (click)="agregarNuevoTelefonoAlFormulario()">
                                <mat-icon>add</mat-icon>
                                Agregar Teléfono
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- ============================== Fin Telefonos ==================================== -->

            <!-- ============================== Videos ==================================== -->
            <div fxLayout="column" class="container">
                <div fxFlex="100%">
                    <h2 class="subtitulo">Videos en Youtube</h2>
                </div>
                <div fxLayout="column" formArrayName="videos">
                    <div *ngFor="let video of videos.controls;let j=index" [formGroupName]="j" style="width: 100%;"
                        fxLayout="row" fxLayoutAling="space-between center" fxLayoutGap="20px">
                        <mat-form-field style="width: 100%;">
                            <input matInput type="url" formControlName="url" (change)="parseLinkYoutube(j)"
                                placeholder="https://www.youtube.com/watch?v=df021jGEmPM" style="width: 100%;">
                            <mat-icon matSuffix>add_link</mat-icon>
                            <mat-label>Inserte la url del video </mat-label>
                            <ng-container *ngIf="!videos.at(j).valid">
                                <mat-error>¡Link no válido! Copié y pegue el link del video desde youtube.</mat-error>
                                <mat-error>La apliación la transformará al formato correcto.</mat-error>
                            </ng-container>
                        </mat-form-field>
                        <div *ngIf="j > 0">
                            <button type="button" mat-stroked-button color="warn"
                                (click)="eliminarVideoDelFormulario(j)">
                                <mat-icon>delete</mat-icon>
                                Eliminar
                            </button>
                        </div>
                        <div *ngIf="j == 0">
                            <button type="button" mat-raised-button color="primary"
                                (click)="agregarNuevoVideoAlFormulario()">
                                <mat-icon>add</mat-icon>
                                Agregar Video
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================== Fin Videos ==================================== -->

            <!-- ============================== Sitio Web Y Redes Sociales ==================================== -->
            <div fxLayout="column" class="container">
                <div fxFlex="100%">
                    <h2 class="subtitulo">Sitio Web y Redes Sociales</h2>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="30px">
                    <mat-form-field appearance="fill">
                        <mat-label>Sitio Web</mat-label>
                        <input type="url" matInput formControlName="web" placeholder="http://www.mi-sitio-web.com/">
                        <mat-icon matSuffix>insert_link</mat-icon>
                        <ng-container *ngIf="!web.valid && web.touched">
                            <mat-error>La URL ingresada no es válida!</mat-error>
                        </ng-container>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Whatsapp</mat-label>
                        <input type="url" matInput formControlName="whatsapp"
                            placeholder="https://api.whatsapp.com/send?phone=598123456">
                        <mat-icon matSuffix>insert_link</mat-icon>
                        <ng-container *ngIf="!whatsapp.valid && whatsapp.touched">
                            <mat-error>URL no válida! Ejemplo: https://api.whatsapp.com/send?phone=598123456
                            </mat-error>
                        </ng-container>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Facebook</mat-label>
                        <input type="url" matInput formControlName="facebook"
                            placeholder="https://m.facebook.com/mi-perfil/">
                        <mat-icon matSuffix>insert_link</mat-icon>
                        <ng-container *ngIf="!facebook.valid && facebook.touched">
                            <mat-error>URL no válida! Ejemplo: https://www.facebook.com/mi-perfil </mat-error>
                        </ng-container>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Instagram</mat-label>
                        <input type="url" matInput formControlName="instagram" placeholder="http://www.instagram.com/">
                        <mat-icon matSuffix>insert_link</mat-icon>
                        <ng-container *ngIf="!instagram.valid && instagram.touched">
                            <mat-error>URL no válida! Ejemplo: http://www.instagram.com/mi-perfil</mat-error>
                        </ng-container>
                    </mat-form-field>
                </div>
            </div>
            <!-- ============================== Fin Sitio Web Y Redes Sociales ==================================== -->

            <!-- ============================== Mapa ==================================== -->
            <div fxLayout="column" class="container">
                <h2>Ubicación del Lugar *</h2>
                <div fxLayout="row">
                    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
                        <div style="width: 70%;">
                            <p>Abra el mapa y creé un marcador en la ubicación del lugar para obtener sus coordenadas
                            </p>
                        </div>

                        <div>
                            <button type="button" mat-raised-button color="primary" (click)="abrirMapa()">
                                <mat-icon>map</mat-icon>
                                Abrir Mapa
                            </button>
                        </div>
                        <div *ngIf="ubicacion.value !== null">
                            Longitud: {{ ubicacion.value.lng }}, Latidud: {{ ubicacion.value.lat }}
                        </div>
                        <div *ngIf="ubicacion.value === null">
                            Longitud: 0, Latidud: 0
                        </div>
                        <ng-container *ngIf="!ubicacion.valid && mapaTouched">
                            <mat-error>¡Debe seleccionar la ubicación del lugar creando un marcador en el mapa!
                            </mat-error>
                        </ng-container>
                    </div>
                    <div fxLayout="column">
                        <app-mini-mapa></app-mini-mapa>
                    </div>
                </div>
            </div>
            <!-- ============================== Fin Mapa ==================================== -->
        </div>

    </div>
    <br>
    <mat-divider></mat-divider>

    <div fxLayout="row">
        <!-- ============================== Imagen Home ==================================== -->
        <div fxFlex="50%" fxLayout="row wrapDirection" fxLayoutAlign="space-around start"
            class="container container-home">
            <div fxFlex="100%" class="home">
                <h2 style="text-align: center;">Imágen Home</h2>
            </div>
            <div fxFlex="50%" class="home" fxLayout="column" fxLayoutAlign="space-around center">
                <mat-card class="container-img">
                    <img mat-card-image [src]="home.url" class="imagen-home">
                    <mat-card-actions *ngIf="home.name != 'imagen-default'">
                        <button type="button" mat-stroked-button color="warn" (click)="setImagenHome('')">
                            <mat-icon>delete</mat-icon> Eliminar
                        </button>
                    </mat-card-actions>
                </mat-card>
                <p>Tamaño de imágen: {{widthAllowedHome}} x {{heightAllowedHome}} px</p>
            </div>
            <div fxFlex="50%" class="home">
                <app-upload-files [DirectorioPadre]="directorioPadre" [Directorio]="directorio"
                    [widthAllowed]="widthAllowedHome" [heightAllowed]="heightAllowedHome"
                    [allowedSize]="allowedSizeHome" (imagenSubidaUploader)="setImagenHome($event)">
                </app-upload-files>
            </div>
        </div>
        <!-- ============================== Fin Imagen Home ==================================== -->

        <!-- ==============================  Imagen Principal ==================================== -->
        <div fxFlex="50%" class="container container-galeria" fxLayout="column" fxLayoutAling="space-around start">
            <div>
                <h2 style="text-align: center;">Galería de Imágenes e Imágen Principal</h2>
            </div>
            <div fxLayout="row" fxLayoutAling='space-around center' fxLayoutGap="30px">
                <div fxFlex="50%" class="container-img" fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-card>
                        <img mat-card-image [src]="lugarForm.value.imagenPrincipal.url" class="imagen-principal" alt="">
                        <mat-card-footer>
                        </mat-card-footer>
                    </mat-card>
                    <p>Tamaño de imágen: {{widthAllowedGallery}} x {{heightAllowedGallery}} px</p>
                </div>

                <div fxFlex="50%" fxLayout="column" fxFlexAlign="space-around center">
                    <!-- Módulo para subir archivos -->
                    <app-upload-files [tituloUploader]="tituloUploaderGaleria" [DirectorioPadre]="directorioPadre"
                        [Directorio]="directorio" [widthAllowed]="widthAllowedGallery"
                        [heightAllowed]="heightAllowedGallery" [allowedSize]="allowedSizeGallery"
                        (imagenSubidaUploader)="agregarImagenSubidaAGaleria($event)">
                    </app-upload-files>
                    <h4>Imágen Principal</h4>
                    <mat-form-field id="camp-principal">
                        <mat-label>Selecciona una imágen de la galería para usar de imágen principal</mat-label>
                        <mat-select formControlName="imagenPrincipal" (selectionChange)="setImagenPrincipal()">
                            <mat-option *ngFor="let imagen of galeria" [value]="imagen">{{ imagen.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </div>
        <!-- ============================== Imagen Principal ==================================== -->

    </div>
    <mat-divider></mat-divider>

    <!-- ============================== Galería de Imágenes ==================================== -->
    <div fxLayout="column" class="contenedor_galeria">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div></div>
            <h2>Galería de imágenes</h2>
            <div></div>
        </div>
        <div fxLayout='row' fxLayoutAlign="center center">
            <div class="galeria" style="width: 1000px;">
                <div *ngIf="galeria.length < 1">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <br>
                        <h3>No hay imágenes en la galería</h3>
                    </div>
                </div>
                <div fxLayout="row wrapDirection" fxLayoutAlign="start start" fxLayoutGap="10px"
                    *ngIf="galeria.length > 0">
                    <!-- Módulo para mostrar las imagenes de la galeria -->
                    <app-imagen *ngFor="let foto of galeria" [imagen]="foto"
                        (imagenABorrar)="eliminarImagenGaleria($event)">
                    </app-imagen>
                </div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px" style="padding-right: 50px;">
        <button mat-raised-button color="accent" type="submit" [disabled]="lugarForm.invalid">
            Guardar Lugar
        </button>
    </div>

    <br><br>
    <!-- 
            <div fxFlex>
                <pre>{{ this.imagenes | json }}</pre>
            </div>
-->

    <div style="overflow: scroll; width: 100%;height: 200px;">
        <span>Valores</span>
        <pre>{{ this.lugarForm.value | json }}</pre>
    </div>
</form>