.fondo {
  /*
  background-color:#1f1f1f;
  */
  width: 100%;
  height: 100%;
  background-image:url("../../../../assets/bg-01.jpg");
}

img {
  width: 300px;
  margin: auto;
}

mat-card {
	margin-top: 100px;
	width: 500px;
	height: 700px;
}

.row {
  width: 450px;
}

.row {
  width: 350px;
  margin-top: 20px;
}

#btnEnviar {
  width: 100%;
} 

.logo{
	width: 80%;
}
