
mat-card {
   margin-top: 1.25rem;
   width: 16.875rem;
   height: 23.125rem;
   padding: 0;
   padding-bottom: 0.75rem;
   background-color: #ffffff;
}

mat-card img {
    padding: 0px;
    margin: 0px;
    height: 9.9275rem;
    width: 16.875rem;
}

mat-card-subtitle {
    color: #006CD8;
    font-size: 0.6875;
    width: 15rem;
}


mat-card-content {
    width: 14.375rem;
    height: 3.75rem;
    margin: 0px;
    margin-bottom: 0.3125rem;
    padding: 0px 1.25rem 0px 1.25rem;
    color: rgb(96, 96, 96);
    font-size: 12px;
}

mat-card-actions {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

mat-card-footer {
    width: 14.375rem;
    margin: 0px;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.icon-si {
    color: green;
}