
    <mat-card >
      <mat-card-header>
        <mat-card-title>{{ lugar.nombre }}</mat-card-title>
        <mat-card-subtitle>Tipo: {{ lugar.tipo }}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [src]="lugar | imagen">

      <mat-card-content>
        {{ lugar.descripcion | deleteHtml | recortarParrafo }}
      </mat-card-content>

      <mat-card-actions>
        <button mat-button 
                color="warn"
                [routerLink]="['/lugares', lugar.id]">
          Leer más...
        </button>

        <button mat-button 
                color="info"
                [routerLink]="['/lugares/editar', lugar.id]">
          Editar
        </button>
      </mat-card-actions>

    </mat-card>