<mat-card>
    <img mat-card-image [src]="lugar | imagen">

    <mat-card-header>
        <mat-card-subtitle>
            <div fxLayout="row" fxLayoutAlign="space-between center" >
                <div>Tipo {{lugar.tipo}}</div>
               <div>Prioridad: {{lugar.prioridad}}</div> 
            </div>
        </mat-card-subtitle>
        <mat-card-title>{{ lugar.nombre }}</mat-card-title>
    </mat-card-header>


    <mat-card-content>
        <!-- {{ lugar.descripcion | deleteHtml | recortarParrafo }} -->
        <div [innerHTML]="lugar.descripcion | recortarParrafo"></div>
    </mat-card-content>

    <mat-card-actions>

        <mat-grid-list cols="3" rowHeight="50px">
            <mat-grid-tile colspan="1" [rowspan]="1">
                <button mat-button mat-stroked-button color="info" [routerLink]="['/lugares', lugar.id]">
                    Ver
                </button>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" [rowspan]="1">
                <button mat-button mat-stroked-button color="primary" [routerLink]="['/lugares/editar', lugar.id]">
                    Editar
                </button>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" [rowspan]="1">
                <button mat-button mat-stroked-button color="warn" (click)="openDialog()">
                    Eliminar
                </button>
            </mat-grid-tile>
        </mat-grid-list>


    </mat-card-actions>

    <mat-card-footer>
        Publicado:
        <ng-container *ngIf="lugar.publicado">
            Sí <mat-icon class="icon-si">done</mat-icon>
        </ng-container>
        <ng-container *ngIf="!lugar.publicado">
            No <mat-icon color="warn">close</mat-icon>
        </ng-container>
    </mat-card-footer>

</mat-card>