<div fxLayout='row' fxLayoutAlign="space-between center">

    <button mat-button type="button" color="primary" (click)="regresar()">
        <mat-icon>arrow_back_ios</mat-icon>
        Lista donde dormir
    </button>
    <h1>{{titulo}}</h1>
    <div></div>
</div>
<br>
<form [formGroup]="hotelForm" (ngSubmit)="submitEvento()">

    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="40px" style="min-height: 300px;">

        <!-- ============================== Columna izquierda ==================================== -->
        <div class="main-column" fxFlex="50" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30">

            <!-- ==============================  Nombre/Publicado ==================================== -->
            <div fxLayout="column" fxLayoutAlign="start stretch" class="container">
                <div>
                    <h2>Nombre */Estado de publicación</h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="30px">

                    <mat-form-field fxFlex="50%">
                        <mat-label>Nombre del local de comidas</mat-label>
                        <input autocomplete="off" required matInput type="text" formControlName="nombre" (change)="quitarEspacios()">
                        <ng-container *ngIf="!nombre.valid && nombre.touched">
                            <mat-error *ngIf="nombre.errors.required">
                                El campo nombre del evento es obligatorio.
                            </mat-error>
                            <mat-error *ngIf="nombre.errors.minlength">
                                El nombre de tener un mínimo de 2 caracteres.
                            </mat-error>
                        </ng-container>
                    </mat-form-field>

                    <div fxFlex="35%">
                        Activar para que sea visible en la app: &nbsp; &nbsp;
                        <mat-slide-toggle (change)="switchPublicar()" formControlName="publicado">
                            Publicado
                        </mat-slide-toggle>
                    </div>

                    <mat-form-field fxFlex="15%">
                        <mat-label>Carperta Cloud Storage</mat-label>
                        <input autocomplete="off" matInput type="text" formControlName="carpeta" [readonly]="true">
                    </mat-form-field>
                </div>
            </div>
            <!-- ============================== Fin  Nombre/Publicado ==================================== -->

            <!-- ==============================  Departamento y Localidad ==================================== -->
            <div class="container">
                <div>
                    <h2>Departamento */Localidad *</h2>
                </div>
                <div fxLayout="row" fxLayoutGap="40px">
                    <mat-form-field id="camp-principal" fxFlex="50%">
                        <mat-label>Selecciona el Departamento</mat-label>
                        <mat-select formControlName="departamento" required
                            (selectionChange)="getLocalidadesPorDepartamento()">
                            <mat-option *ngFor="let departamento of departamentos" [value]="departamento">
                                {{ departamento }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="50%">
                        <mat-label>Selecciona la Localidad</mat-label>
                        <mat-select formControlName="localidad" required>
                            <mat-option *ngFor="let localidad of localidades" [value]="localidad">{{ localidad }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- ============================== Fin Departamento y Localidad ==================================== -->

            <!-- =================================== Dirección ================================ -->
            <div fxLayout="column" fxLayoutAlign="start stretch" class="container">
                <div>
                    <h2>Dirección *</h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap.gt-lg="40px">
                    <div fxFlex="80%">
                        <mat-form-field class="direccion">
                            <mat-label>Dirección</mat-label>
                            <input autocomplete="off" type="text" matInput placeholder="18 de Julio 123" formControlName="direccion"
                                required class="input">
                            <ng-container *ngIf="!direccion.valid && direccion.touched">
                                <mat-error *ngIf="direccion.errors.required">
                                    La direccion es obligatoria.
                                </mat-error>
                                <mat-error *ngIf="direccion.errors.minlength">
                                    La direccion de tener un mínimo de 3 caracteres.
                                </mat-error>
                                <mat-error *ngIf="direccion.errors.maxlength">
                                    La direccion de tener un máximo de 50 caracteres.
                                </mat-error>
                            </ng-container>
                        </mat-form-field>
                    </div>
                    <div fxFlex="20%">
                    </div>
                </div>
            </div>
            <!-- =================================== Fin Dirección ================================ -->
            <!-- ============================== Mapa ==================================== -->
            <div fxFlex="50%" fxLayout="column" fxLayoutAlign="space-evenly center" class="container">
                <h2>Ubicación del hotel *</h2>
                <div fxLayout="row" class="acciones">
                    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
                        <div fxLayout="row" fxLayoutAlign="start start" class="filaMapa">
                            <div fxFlex="68%">
                                <p>Abra el mapa y creé un marcador en la ubicación del evento para obtener sus
                                    coordenadas.
                                </p>
                            </div>
                            <div fxFlex="30%">
                                <button type="button" mat-raised-button color="primary" (click)="abrirMapa()">
                                    <mat-icon>map</mat-icon>
                                    Abrir Mapa
                                </button>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" class="filaMapa">
                                <p>También puedes copiar y pegar las coordenadas del lugar desde Google Maps.</p>
                            </div>
                            <div class="filaMapa" fxLayout="row" fxLayoutAlign="space-between center"
                                fxLayoutGap="10px">
                                <mat-form-field fxFlex="19rem">
                                    <mat-label>Latitud, Longitud</mat-label>
                                    <input autocomplete="off" type="text" matInput placeholder="-34.33741708147928, -56.71104671476904"
                                        [formControl]="ubicacionManual" autocomplete="off" required class="input">
                                    <ng-container *ngIf="!ubicacionManual.valid && ubicacionManual.touched">
                                        <mat-error>
                                            ¡Las coordenadas son inválidas!
                                        </mat-error>
                                    </ng-container>
                                </mat-form-field>
                                <div fxFlex="9rem">
                                    <button mat-raised-button type="button" color="primary"
                                        (click)="setUbicacionManual()">Crear marcador</button>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="!ubicacion.valid && mapaTouched">
                            <mat-error>¡Debe seleccionar la ubicación del lugar creando un marcador en el mapa!
                            </mat-error>
                        </ng-container>

                    </div>
                    <div fxLayout="column">
                        <app-mini-mapa></app-mini-mapa>
                    </div>
                </div>
            </div>
            <!-- ============================== Fin Mapa ==================================== -->
        </div>


        <!-- ============================== Columna derecha ==================================== -->
        <div class="main-column" fxFlex="50%" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30">


            <!-- ============================== Telefonos ==================================== -->
            <div fxLayout="column" class="container">
                <div fxFlex="100%">
                    <h2 class="subtitulo">Teléfonos</h2>
                </div>
                <div fxLayout="column" formArrayName="telefonos">
                    <div *ngFor="let telefono of telefonos.controls; let i=index" [formGroupName]="i"
                        style="width: 100%;" fxLayout="row" fxLayoutAling="space-between center" fxLayoutGap="20px">
                        <mat-form-field style="width: 50%;">
                            <input autocomplete="off" matInput type="tel" formControlName="numero"
                                placeholder="43401234 o 43401234-36 o 099123456" style="width: 100%;">
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-label>Inserte el teléfono {{ i + 1}}</mat-label>
                            <ng-container *ngIf="!telefonos.at(i).valid && telefonos.at(i).touched">
                                <mat-error>Formato no válido. ej: 43422835 o 43422835-36 o 099123456</mat-error>
                            </ng-container>
                        </mat-form-field>
                        <div *ngIf="i > 0">
                            <button type="button" mat-stroked-button color="warn"
                                (click)="eliminarTelefonoDelFormulario(i)">
                                <mat-icon>delete</mat-icon>
                                Eliminar
                            </button>
                        </div>
                        <div *ngIf="i === 0">
                            <button type="button" mat-raised-button color="primary" [disabled]="disabledAddPhones"
                                (click)="agregarNuevoTelefonoAlFormulario()">
                                <mat-icon>add</mat-icon>
                                Agregar Teléfono
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- ============================== Fin Telefonos ==================================== -->

            <!-- ============================== Whatsapp e Instagram ==================================== -->
            <div fxLayout="column" class="container">
                <div fxFlex="100%">
                    <h2 class="subtitulo">Whatsapp/Instagram </h2>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="30px">
                    <mat-form-field class="whatsapp">
                        <mat-label>Whatsapp</mat-label>
                        <input autocomplete="off" type="text" matInput [formControl]="nroWhatsapp"
                            (input)="setLinkWhatsapp()" placeholder="099123456">
                        <mat-icon matSuffix>phone</mat-icon>
                        <ng-container *ngIf="!nroWhatsapp.valid && nroWhatsapp.touched">
                            <mat-error>
                                Número no valido. Ejemplo: 098123456
                            </mat-error>
                        </ng-container>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Instagram</mat-label>
                        <input autocomplete="off" type="url" matInput formControlName="instagram" placeholder="http://www.instagram.com/">
                        <mat-icon matSuffix>insert_link</mat-icon>
                        <ng-container *ngIf="!instagram.valid && instagram.touched">
                            <mat-error>URL no válida! Ejemplo: http://www.instagram.com/mi-perfil</mat-error>
                        </ng-container>
                    </mat-form-field>
                </div>
            </div>
            <!-- ============================== Fin Whatsapp e Instagram =================================== -->
            <!-- ============================== Imagen Restaurante ==================================== -->
            <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start start" style="width: 900px;"
                class="container container-home">
                <div fxFlex="100%" class="home">
                    <h2 style="text-align: center;">Imágen Hotel</h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">

                    <div fxFlex="50%" class="home" fxLayout="column" fxLayoutAlign="space-around center">
                        <mat-card class="container-img">
                            <img mat-card-image [src]="imagenRestaurante.url" class="imagen-home">
                            <mat-card-actions *ngIf="imagenRestaurante.name != 'imagen-default'">
                                <button type="button" mat-stroked-button color="warn"
                                    (click)="setImagenRestaurante('')">
                                    <mat-icon>delete</mat-icon> Eliminar
                                </button>
                            </mat-card-actions>
                        </mat-card>
                        <p>Tamaño de imágen: {{widthAllowedEvento}} x {{heightAllowedEvento}} px</p>
                    </div>
                    <div fxFlex="50%" class="home">
                        <app-upload-files [DirectorioPadre]="directorioPadre" [Directorio]="directorio"
                            [widthAllowed]="widthAllowedEvento" [heightAllowed]="heightAllowedEvento"
                            [allowedSize]="allowedSizeGallery" (imagenSubidaUploader)="setImagenRestaurante($event)">
                        </app-upload-files>
                    </div>
                </div>
            </div>
            <!-- ============================== Fin Imagen Home ==================================== -->
        </div>


    </div>
    <br>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px" style="padding-right: 50px;">
        <button mat-raised-button color="accent" type="submit" [disabled]="hotelForm.invalid">
            Guardar Hotel
        </button>
    </div>

    <br><br>

</form>
<!-- 

<pre>Formulario valido {{this.hotelForm.valid}}</pre>
<pre>
    {{ this.hotelForm.value | json }}
</pre>
-->