mat-divider{
    margin-bottom: 40px;
}

.main-column {
    margin: 10px;
}

.imagen-home {
    height: 217px;
}

.imagen-principal {
    height: 277px;
}

.imagen {
    height: 280px;
}

.container {
    margin-bottom: 2px;
}

.container-home {
    height: 402px;
    padding-right: 40px;
}

.direccion {
    min-width: 100%;
}

.lugar{
    min-width: 100%;
}

.input{
    min-width: 100%;
}

.whatsapp{
    width: 30%;
}

#descripcion {
    width: 100%;
}

/*Area el cuadro del editor*/
.area {
    width: 100%;
}
