
<div *ngIf="evento$ | async as evento">

    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10">
        <div flexLayout="row" flexLayoutAlign="center center">
            <h1>Descargar ahora!</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <h3>Y forma parte de la comunidad que apoya turismo cultural local.</h3>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <img src="../../../../assets/domingo-logo-300x86.png" alt="logo-domingo" class="logo">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">

            <button mat-button mat-stroked-button (click)="navigateAppleStore()" >
                <i class="fa-brands fa-apple"></i>
                Apple Store
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-button mat-stroked-button (click)="navigatePlayStore()">
                <i class="fa-brands fa-android"></i>
                Play Store
            </button>
        </div>
        <div >
            <h1>{{ evento.nombre }}</h1>
        </div>
        <div fxLaout="row" fxLayoutAlign="center center">
            <img src="{{evento.imagen.url}}" alt="">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20" class="descripcion">
            <div [innerHTML]="evento.descripcion"></div>
        </div>

    </div>

</div>