<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="over">

        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)=sidenav.toggle()>
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>


        <mat-nav-list>
            <h2 matSubheader>ARTISTAS</h2>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <a mat-line routerLink="/artistas/listado" routerLinkActive="link-active" (click)=sidenav.toggle()>
                    <span>Lista artistas</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <a mat-line routerLink="/artistas/agregar" routerLinkActive="link-active" (click)=sidenav.toggle()>
                    Agregar artista
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h2 matSubheader>LUGARES</h2>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <a mat-line routerLink="/lugares/listado" routerLinkActive="link-active" (click)=sidenav.toggle()>
                    <span>Lista lugares</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <a mat-line routerLink="/lugares/agregar" routerLinkActive="link-active" (click)=sidenav.toggle()>
                    Agregar lugar
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h2 matSubheader>EVENTOS</h2>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <a mat-line routerLink="/eventos/listado" routerLinkActive="link-active" (click)=sidenav.toggle()>
                    <span>Listar eventos</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <a routerLink="/eventos/agregar" routerLinkActive="link-active" (click)=sidenav.toggle()>
                    Agregar evento
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h2 matSubheader>INFORMACIÓN</h2>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <a mat-line routerLink="/informacion/listado" routerLinkActive="link-active" (click)=sidenav.toggle()>
                    <span>Lista información</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <a routerLink="/informacion/agregar" routerLinkActive="link-active" (click)=sidenav.toggle()>
                    Agregar informacíon
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <h2 matSubheader>DONDE COMER</h2>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <a mat-line routerLink="/donde-comer/listado" routerLinkActive="link-active" (click)=sidenav.toggle()>
                    <span>Lista donde comer</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <a routerLink="/donde-comer/agregar" routerLinkActive="link-active" (click)=sidenav.toggle()>
                    Agregar donde comer
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h2 matSubheader>DONDE DORMIR</h2>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <a mat-line routerLink="/donde-dormir/listado" routerLinkActive="link-active" (click)=sidenav.toggle()>
                    <span>Lista donde dormir</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <a routerLink="/donde-dormir/agregar" routerLinkActive="link-active" (click)=sidenav.toggle()>
                    Agregar donde dormir
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h2 matSubheader>CARRUSELES</h2>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <a mat-line routerLink="/carruseles/slider-artistas" routerLinkActive="link-active"
                    (click)=sidenav.toggle()>
                    <span>Carrusel artistas</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <a mat-line routerLink="/carruseles/slider-donde-comer" routerLinkActive="link-active"
                    (click)=sidenav.toggle()>
                    <span>Carrusel donde comer</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <a mat-line routerLink="/carruseles/slider-donde-dormir" routerLinkActive="link-active"
                    (click)=sidenav.toggle()>
                    <span>Carrusel donde dormir</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <a mat-line routerLink="/carruseles/slider-eventos" routerLinkActive="link-active"
                    (click)=sidenav.toggle()>
                    <span>Carrusel eventos</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <a mat-line routerLink="/carruseles/slider-informacion" routerLinkActive="link-active"
                    (click)=sidenav.toggle()>
                    <span>Carrusel información</span>
                </a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>list</mat-icon>
                <a mat-line routerLink="/carruseles/slider-lugares" routerLinkActive="link-active"
                    (click)=sidenav.toggle()>
                    <span>Carrusel lugares</span>
                </a>
            </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>


    <mat-toolbar color="primary">
        <button mat-icon-button (click)=sidenav.toggle()>
            <mat-icon>menu</mat-icon>
        </button>
        <span> Panel de Administración</span>
        <span class="spacer"> </span>
        <ng-container *ngIf="idUser !== undefined">
            <button type="button" (click)="cerrarSesion()" mat-button>Salir</button>
        </ng-container>

    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>