<h2 mat-dialog-title>No es posible publicar el Restaurante</h2>
<mat-dialog-content class="mat-typography">
    <h3>Importante: Al publicar el restaurante este será visible en la APP.</h3>
    <p>Además de tener todos los campos obligatorios completados, también es necesario cumplir algunas condiciones más.</p>
    <p>Las condiciones que debe satisfacer para publicar son las siguientes:</p>
    <mat-list>
        <mat-list-item>1. Debe tener cargada una imágen para el restaurante. {{data.imagen}} </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" mat-stroked-button color="primary" mat-dialog-close (click)="closeDialog()">
        Aceptar
    </button>
</mat-dialog-actions>
