<div class="mapa" #mapa id="mapa">

</div>


    <mat-list class="add-marker" id="add-marker">
        <mat-list-item> 
            <button [disabled]="add_btn" mat-raised-button color="primary" (click)="addMarker()" >
                <mat-icon>add_location_alt</mat-icon>
                Agregar Marcador
            </button>
        </mat-list-item>
        <mat-list-item> 
            <button mat-raised-button color="primary" (click)="deleteMarker()" [disabled]="delete_btn" >
                <mat-icon>wrong_location</mat-icon>
                Eliminar Marcador
            </button>
        </mat-list-item>
        <mat-list-item> 
            <button mat-raised-button color="primary" (click)="flyToMarker()" [disabled]="move_btn" >
                <mat-icon>my_location</mat-icon>
                Ir al Marcador
            </button>
        </mat-list-item>
    </mat-list>

    <div id="control-zoom">
        controles zoom
    </div>
