.mapa {
    /*Muy importante no cambiar*/
    height: 480px;
}


.add-marker {
    width: 200px;
    position: fixed;
    z-index: 100000;
    /*
    top: 50px;
    left: 50px;
    */
}

#control-zoom{
    width: 350px;
    height: 100px;
    /*background-color: rgb(33, 35, 161);   */
    z-index: 1500;
    position: fixed;
    left: 20px;
    bottom:  -30px;
    padding: 5px;
    border-radius: 5px;
}

mat-slider {
  width: 100%;
}
