<mat-card>
    <img mat-card-image [src]="restoran | imagen">
    <mat-card-header >
        <mat-card-subtitle >
            <div fxLayout="row" fxLayoutAlign="space-between center" >
                <div>
                    {{ restoran.departamento }}
                </div>
                <div>
                    {{ restoran.localidad }}
                </div>
            </div>
        </mat-card-subtitle>
        <mat-card-title>{{ restoran.nombre | recortarTitulo:largoTitulo }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div>Dirección: {{ restoran.direccion }}</div>
        <div *ngIf="restoran.telefonos.length > 0">Teléfono: {{restoran.telefonos[0].numero}}</div>
        <div *ngIf="restoran.telefonos.length > 1">Teléfono: {{restoran.telefonos[1].numero}}</div>
    </mat-card-content>

    <mat-card-actions>
        <mat-grid-list cols="3" rowHeight="50px">
            <mat-grid-tile colspan="1" [rowspan]="1">
                <button mat-button mat-stroked-button color="primary" [routerLink]="['/donde-comer/editar', restoran.id]">
                    Editar
                </button>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" [rowspan]="1">
                <button mat-button mat-stroked-button color="warn" (click)="openDialog()">
                    Eliminar
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-actions>

    <mat-card-footer>
        Publicado:
        <ng-container *ngIf="restoran.publicado">
            Sí <mat-icon class="icon-si">done</mat-icon>
        </ng-container>
        <ng-container *ngIf="!restoran.publicado">
            No <mat-icon color="warn">close</mat-icon>
        </ng-container>
    </mat-card-footer>

</mat-card>
