<div fxLayout='row' fxLayoutAlign="space-between center">

    <button mat-button type="button" color="primary" (click)="regresar()">
        <mat-icon>arrow_back_ios</mat-icon>
        Atras
    </button>
    <h1>{{titulo}}</h1>
    <div></div>
</div>
<mat-divider></mat-divider>
<br>
<form [formGroup]="artistaForm" (ngSubmit)="submitArtista()">

    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="40px" >

        <!-- ============================== Columna izquierda ==================================== -->
        <div class="main-column" fxFlex="50" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">

            <!-- ==============================  Nombre/Publicado ==================================== -->
            <div fxLayout="column" fxLayoutAlign="space-evenly start" class="container" >
                <div>
                    <h2>Nombre */Estado de publicación</h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">

                    <mat-form-field fxFlex="50%">
                        <mat-label>Nombre del Artista</mat-label>
                        <input required matInput autocomplete="of" type="text" formControlName="nombre" (change)="quitarEspacios()">
                        <ng-container *ngIf="!nombre.valid && nombre.touched">
                            <mat-error *ngIf="nombre.errors.required">El campo nombre del artista es obligatorio.
                            </mat-error>
                            <mat-error *ngIf="nombre.errors.minlength">El nombre de tener un mínimo de 2 caracteres.
                            </mat-error>
                        </ng-container>
                    </mat-form-field>

                    <div fxFlex="35%">
                        Activar para que sea visible en la app: &nbsp; &nbsp;
                        <mat-slide-toggle (change)="switchPublicar()" formControlName="publicado">Publicado
                        </mat-slide-toggle>
                    </div>

                    <mat-form-field fxFlex="20%">
                        <mat-label>Carperta Cloud Storage</mat-label>
                        <input matInput type="text" formControlName="carpeta" [readonly]="true">
                    </mat-form-field>
                    <div fxFlex></div>
                </div>
                <!-- ============================== Fin  Nombre/Publicado ==================================== -->

            </div>

            <!-- ==============================  Departamento y Localidad ==================================== -->
            <div class="container" >
                <div>
                    <h2>Departamento */Localidad *</h2>
                </div>
                <div fxLayout="row" fxLayoutGap="40px">
                    <mat-form-field id="camp-principal" fxFlex="50%">
                        <mat-label>Selecciona el Departamento</mat-label>
                        <mat-select formControlName="departamento" required
                            (selectionChange)="getLocalidadesPorDepartamento()">
                            <mat-option *ngFor="let departamento of departamentos" [value]="departamento">
                                {{ departamento }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field id="camp-principal2" fxFlex="50%">
                        <mat-label>Selecciona la Localidad</mat-label>
                        <mat-select formControlName="localidad" required>
                            <mat-option *ngFor="let localidad of localidades" [value]="localidad">{{ localidad }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- ============================== Fin Departamento y Localidad ==================================== -->

            <!-- ============================== Links ==================================== -->
            <div fxLayout="column" class="container">
                <div fxFlex="100%">
                    <h2 class="subtitulo">Links</h2>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="30px">
                    <mat-form-field>
                        <mat-label>Video de Youtube</mat-label>
                        <input type="url" matInput formControlName="youtube" placeholder="https://www.youtube.com/watch?v=df021jGEmPM" 
                                autocomplete="of" (change)="parseLinkYoutube()">
                        <mat-icon matSuffix>insert_link</mat-icon>
                        <ng-container *ngIf="!youtube.valid && youtube.touched">
                            <mat-error>La URL ingresada no es válida!</mat-error>
                        </ng-container>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Spotify</mat-label>
                        <input autocomplete="of" type="url" matInput formControlName="spotify"
                            placeholder="https://open.spotify.com/artist/1dfeR4HaWDbWqFHLkxsg1d?si=bQ7EkrD9SuCeyrvfzcZizw&nd=1">
                        <mat-icon matSuffix>insert_link</mat-icon>
                        <ng-container *ngIf="!spotify.valid && spotify.touched">
                            <mat-error>
                                URL no válida! Ejemplo: https://open.spotify.com/artist/1dfeR4HaWDbWqFHLkxsg1d?si=bQ7EkrD9SuCeyrvfzcZizw&nd=1
                            </mat-error>
                        </ng-container>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Instagram</mat-label>
                        <input type="url" autocomplete="of" matInput formControlName="instagram" placeholder="http://www.instagram.com/">
                        <mat-icon matSuffix>insert_link</mat-icon>
                        <ng-container *ngIf="!instagram.valid && instagram.touched">
                            <mat-error>URL no válida! Ejemplo: http://www.instagram.com/mi-perfil</mat-error>
                        </ng-container>
                    </mat-form-field>
                </div>
            </div>
            <!-- ============================== Fin Links ==================================== -->
        </div>


        <!-- ============================== Columna derecha ==================================== -->
        <div class="main-column" fxFlex="50%" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30">

            <!-- ======================= Categoria =============================================== -->
            <div fxLayout="column" fxLayoutAlign="center">
                <div fxLayout="row" fxLayoutAlign="start end">
                    <h2>Categoría</h2>
                </div>
                <div fxLayout="row">
                    <mat-form-field id="camp-principal2" fxFlex="50%">
                        <mat-label>Selecciona la categoría</mat-label>
                        <mat-select formControlName="categoria" required>
                            <mat-option *ngFor="let categoria of categorias" [value]="categoria.value">{{
                                categoria.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- ==========================Fin Categoria =====================================-->

            <!-- ============================== Imagen Artista ==================================== -->
            <div fxLayout="row" fxLayoutAlign.gt-lg="space-between start">
                <div fxLayout="column" fxLayoutAlign="space-between">
                    <div class="home">
                        <h2>Imágen Artista</h2>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="30px" class="container container-home">
                        <div  class="home" fxLayout="column" fxLayoutAlign="space-around center">
                            <mat-card class="container-img">
                                <img mat-card-image [src]="imagenArtista.url" class="imagen-home">
                                <mat-card-actions *ngIf="imagenArtista.name != 'imagen-default'">
                                    <button type="button" mat-stroked-button color="warn"
                                        (click)="setImagenArtista('')">
                                        <mat-icon>delete</mat-icon> Eliminar
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                            <p>Tamaño de imágen: {{widthAllowedArtista}} x {{heightAllowedArtista}} px</p>
                        </div>
                        <div class="home">
                            <app-upload-files [DirectorioPadre]="directorioPadre" [Directorio]="directorio"
                                [widthAllowed]="widthAllowedArtista" [heightAllowed]="heightAllowedArtista"
                                [allowedSize]="allowedSizeGallery" (imagenSubidaUploader)="setImagenArtista($event)">
                            </app-upload-files>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================== Fin Imagen Artista ==================================== -->
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px" style="padding-right: 50px;">
        <button mat-raised-button color="accent" type="submit" [disabled]="artistaForm.invalid">
            Guardar Artista
        </button>
    </div>

    <br><br>

</form>