<div fxLayout='row' fxLayoutAlign="space-between center">
    <div></div>
    <h1>Listado de Lugares</h1>
    <div></div>
</div>
<mat-divider></mat-divider>
<br>

<form [formGroup]="filtrosForm">
    <div fxLayout="row wrap" fxLayoutAlign.xs="space-between"  fxLayoutAlign.gt-sm="center center" fxLayoutGap="1.5625rem" class="rowFiltros">
        <div fxFlex="23rem" fxFlex.xs="100%" fxFlex.sm="45%" fxLayout.gt-sm="row" fxLayoutAlign="start end" fxLayoutAlign.xs="space-around end" fxLayoutGap="0.625rem" class="rowDepartamento row">
            <div fxFlex="7rem">
                <h3>Departamento:</h3>
            </div>
            <mat-form-field  fxFlex.gt-sm="15rem" fxFlex.xs="60%" class="inputDepartamento">
                <mat-label>Selecciona el Departamento</mat-label>
                <mat-select formControlName="departamento" (selectionChange)="setFiltroDepartamento()">
                    <mat-option *ngFor="let dpto of departamentos" [value]="dpto">
                        {{ dpto }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="22rem" fxFlex.xs="100%" fxFlex.sm="45%" fxLayout="row" fxLayoutAlign="start end" fxLayoutAlign.xs="space-around end" fxLayoutGap="0.625rem" class="rowLocalidad row">
            <div fxFlex="5rem">
                <h3>Localidad:</h3>
            </div>
            <mat-form-field class="inputLocalidad" fxFlex.gt-sm="15rem" fxFlex.xs="60%">
                <mat-label>Selecciona la Localidad</mat-label>
                <mat-select formControlName="localidad" (selectionChange)="setFiltroLocalidad()">
                    <mat-option value="">Ver todas</mat-option>
                    <mat-option *ngFor="let loc of localidades" [value]="loc">{{ loc }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="13rem" fxFlex.xs="100%" fxFlex.sm="45%" fxLayout="row" fxLayoutAlign="start end" fxLayoutAlign.xs="space-around end" fxLayoutGap="0.625rem" class="rowPublicados row">
            <div fxFlex="6rem">
                <h3>Publicados:</h3>
            </div>
            <mat-form-field fxFlex.gt-sm="6rem" fxFlex.xs="60%" class="inputPublicados">
                <mat-label>Filtrar Publicados</mat-label>
                <mat-select formControlName="publicado" (selectionChange)="setFiltroPublicados()">
                    <mat-option *ngFor="let opcion of opcionesSlectPublicado" [value]="opcion.valor">{{ opcion.estado }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="7rem" fxFlex.xs="100%" fxFlex.sm="45%" fxLayout="row" fxLayoutAlign="center end" class="rowReset row">
            <button type="button" mat-raised-button color="primary" (click)="resetFiltros()">Reset filtros</button>
        </div>
    </div>
</form>

<!-- Si el lugar no existe muestra el espiner -->
<mat-grid-list cols="1" *ngIf="lugares.length < 1 else listaLugares">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #listaLugares>
    <div id="lista" fxLayout="row" fxLayoutAlign="center start" class="main">
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="1.25rem">
            <div *ngFor="let lugar of lugares  | paginate: { itemsPerPage: 12, currentPage: page }">
                <app-lugar-tarjeta [lugar]="lugar"></app-lugar-tarjeta>
            </div>
        </div>
    </div>
</ng-template>



<ng-template #noLugares>
    <div>No hay datos para mostrar</div>
</ng-template>


<br>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="center center">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
</div>