<h1>Listado de Lugares</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="center center">
  <mat-accordion style="width: 1730px;">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>filter_alt</mat-icon>
          Filtros
        </mat-panel-title>
        <mat-panel-description>
          Puedes aplicar filtros para ver solo lo que necesitas
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="40px">

        <div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayoutGap="40px" style="width: 1000px;">
          <div fxFlex.gt="20%">
            <mat-slide-toggle [(ngModel)]="filtroDepartamento">Filtro por Departamento: </mat-slide-toggle>
          </div>
          <div fxFlex=80%>
            <mat-checkbox color="primary" [disabled]="!filtroDepartamento" labelPosition="after"
                          *ngFor="let departamento of departamentos; let i=index"
                          style="width: 30%;">
              {{departamento}}
            </mat-checkbox>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayoutGap="40px" style="width: 1000px;">
          <div fxFlex.gt="20%">
            <mat-slide-toggle [(ngModel)]="filtroPublicado">Filtro por estado de publiación: </mat-slide-toggle>
          </div>
          <mat-radio-group fxFlex="80%" aria-label="Selecciona una opción">
            <mat-radio-button value="1" [disabled]="!filtroPublicado" checked="true">Publicados </mat-radio-button> &nbsp;
            <mat-radio-button value="2" [disabled]="!filtroPublicado">Sin publicar </mat-radio-button>
          </mat-radio-group>

        </div>
      </div>
<!--
      <pre>filroPublicado {{filtroPublicado }}</pre>
-->
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div style="width: 1750px; margin: auto;" fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    <div *ngFor="let lugar of lugares$ | async" style="min-height: 390px;">
      <app-lugar-tarjeta [lugar]="lugar"></app-lugar-tarjeta>
    </div>
  </div>
</div>